.groupCard-component {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-items: center;
  background-color: #FFf;

  .groupCard-image {
    width: 50px;
    height: 50px;

    img[alt="groupLogo"] {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 255px;
    }
  }

  .groupCard-status {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

.groupCard-component:hover{
  background: rgba(240,240,240,1);
}

.sendGroup-content{
  outline: solid 1px red;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 0.5em;

}