@import "../../../Sass/Variables.scss";

button[name="create"] {
  @extend %button-props;
}
.createForm-header {
  @extend %modal-header;

  .header-icon{
    color: $primary-color;
    cursor: pointer;
  }
}

.createForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  gap: 0.5em;

  input {
    @extend %input-props;
  }

  select {
    @extend %input-props;
  }
}

.popUp-create-content {
  outline: solid 1px red;
  width: 400px;
  height: 300px;
}
