@import '../../../Sass/Variables.scss';

.chatGroups-content{
    outline: solid 1px red;
    height: 100%;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .chatGroups-Header{
        outline: solid 1px red;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        width: 100%;
        padding: 1em;
        background-color: $primary-color;

        .header-icon{
            width: 30px;
            height: 30px;
            color: $secondary-color;
        }

        h3[title='header']{
            font-family: poppins;
            color: $secondary-color;
        }
    } 
    
    .chatGroups-body{
        padding: 1px 0;
        width: 100%;
        display: flex;
        gap: 1px;
        background: rgba(210,210,210);
        flex-direction: column;   
        overflow-y: scroll;    
    }
}