@import "../../../Sass/Variables.scss";

.ChatRoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid $tertiary-color;

  .ChatRoom-header {
    padding: 0 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background: $tertiary-color;

    p[title="header"] {
      @extend %title-props;
      color: $primary-color;
    }

    .ChatRoom-status {
      p[title="status"] {
        @extend %text-props;
        color: rgba(0, 0, 0, 0.4);
        font-weight: bolder;
      }
    }
  }

  .ChatRoom-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 1em;
    gap: 0.5px;

    .user-message {
      @extend %content-message;
      justify-content: flex-end;

      .userMessage-content {
        @extend %user-message;
        background-color: #0a5a79;
        color: $secondary-color;

        p[title="message"] {
          @extend %message-props;
        }

        p[title="time"] {
          @extend %time-props;
        }
      }
    }

    .other-message {
      @extend %content-message;
      justify-content: flex-start;

      .otherMessage-content {
        @extend %user-message;
        background-color: $secondary-color;
        color:#0a5a79;

        p[title="message"] {
          @extend %message-props;
        }

        p[title="time"] {
          @extend %time-props;
        }
      }
    }
  }

  .ChatRoom-Footer {
    height: 51px;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0 2em;
    background: $tertiary-color;

    input[name="message"] {
      @extend %input-props;
    }

    .send-icon {
      width: 35px;
      height: 35px;
      cursor: pointer;
      color: $primary-color;
    }
  }
}
